.about {
  margin-bottom: 10rem;
}

#about-body {
  background-color: #191919;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-me-section {
  background-color: #ffffff;
  width: 50%;
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  border-radius: 12px;
  box-shadow: 12px 6px 50px #ffffff75;
}
.her {
  border-radius: 120px;
}

.about-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-center img {
  margin-top: 4rem;
  margin-bottom: 1.6rem;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.723);
  scale: 1;
  transition: 0.3s;
}

.about-center img:hover,
.about-center img:active {
  scale: 1.05;
}

.name {
  font-size: 2.4rem;
  color: #5836b8;
  text-align: center;
  font-family: sans-serif;
}

.social-media-icons {
  margin-top: 2rem;
  display: flex;
  gap: 1.4rem;
}

.iconic {
  height: 30px;
  width: 30px;
  fill: #5836b8;
  scale: 1;
  transition: 0.3s;
  margin-left: 1rem;
}

.iconic:hover,
.iconic:active {
  fill: #4780d9;
  scale: 1.3;
}

.about-img {
  box-shadow: none !important;
  width: 90%;
}

.about-img1 {
  width: 90%;
  box-shadow: none !important;
  scale: 1 !important;
}

.about-img:hover {
  scale: 1 !important;
}

.more {
  padding: 8rem 4rem;
  overflow: hidden;
}

.head-more {
  font-size: 3.4rem;
  text-align: center;
}

.more div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.more div div {
  transition: 0.3s;
}

.more div div:hover,
.more div div:active {
  scale: 1.1;
}
